body {
	margin: 0;
	width: 250px;
	height: 240px;
	font-size: 16px;
	font-family: 'Segoe UI';
}

#gadgetContent {
	text-align: left;
	overflow: hidden;
	margin: 0 0 20px 10px;
}

#gadgetContent b{
	color: #008c00;
}

input {
	height: 30px;
	border: 1px solid #008c00;
	background: #fff;
}

div#title {
	font-size: 20px;
	line-height: 20px;
	font-weight: bold;
	margin-bottom: 10px;
	color: #fff;
	background: #008c00;
	padding: 10px;
}

#numCartao {
	height: 30px;
	width: 155px;
	padding: 4px;
	text-align: center;
	float: left;
}

#btnSave {	
	float: right;
	width: 70px;
}

#btnRefresh {
	float: right;	
	width: 70px;
}

#btnEdit {
	float: left;	
	width: 150px;
	margin: 0 0 0 10px;
}

#loader {
	text-align: center;
}

#cadastroCartao {
	margin: 0 0 20px 10px;
}

.button{
	height: 30px;
	cursor: pointer;
	margin: 0 10px 0 0;
	color: #008c00;
	font-weight: bold;
}